/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  h1 {
    @apply text-3xl font-inter;
  }
  h2 {
    @apply text-2xl font-inter;
  }
  h3{
    @apply font-inter text-lg sm:text-xl;
  }
  p {
    @apply font-inter text-base sm:text-lg;
  }
  li {
    @apply font-inter text-base text-gray-700 pb-1;
  }
}

.nav-name{
  @apply text-xl sm:text-xl lg:text-xl font-inter
}

.nav-link{
  @apply font-inter hidden text-lg sm:text-lg lg:text-lg md:block transition duration-75 hover:text-emerald
}

.link{
  @apply transition duration-150 text-emerald hover:text-emerald-dark hover:bg-emerald-light
}

.contact-icon-link{
  @apply font-inter text-base lg:text-base transition duration-75 hover:text-emerald
}

.hero-header{
  @apply my-0 text-2xl sm:text-3xl sm:my-1 lg:text-4xl font-inter
}

.page-header{
  @apply my-0 text-2xl sm:text-2xl sm:my-1 lg:text-3xl font-inter
}

.section-header{
  @apply my-0 text-xl sm:text-xl sm:my-1 lg:text-2xl font-inter
}

.date{
  @apply font-inter text-sm text-gray-700 sm:text-base;
}

.outline-button{
  @apply text-sm transition duration-300 ease-in-out hover:bg-emerald hover:border-transparent hover:shadow-blue
  hover:text-white py-3 px-6 border border-emerald-dark text-emerald-dark rounded-lg sm:text-lg font-inter
}

.outline-button-sm{
  @apply text-xs transition duration-300 ease-in-out hover:bg-emerald hover:border-transparent hover:shadow-blue
  hover:text-white py-1.5 px-3 border border-transparent bg-emerald-light  rounded-lg font-inter
}

.contact-indicator{
  @apply text-xs py-1.5 px-3 border border-transparent bg-gray-700 text-gray-200 rounded-lg font-inter
}

.hover-border{
  @apply p-6 transition duration-150 border-2 rounded-lg border-transparent hover:border-emerald-light hover:bg-emerald-light hover:bg-opacity-10 -mt-6 mb-0
}

.tag-wrapper{
  @apply py-0.5 px-2 rounded-md bg-emerald text-white mr-2 mb-2
}

.tag-outline-wrapper{
  @apply transform duration-150 py-0.5 px-2 rounded-md border border-emerald mr-2 mb-2
}

@media only screen and (min-width: 768px) {
  .hero-grid{
    display: grid;
    grid-template-columns: 8em 1fr;
  }  
}

@media only screen and (min-width: 768px) {
  .experience-grid{
    display: grid;
    grid-template-columns: 13.5em 1fr;
  }  
}

@media only screen and (min-width: 768px) {
  .honors-awards-grid{
    display: grid;
    grid-template-columns: 13.5em 1fr;
  }  
}

@media only screen and (min-width: 768px) {
  .project-grid{
    display: grid;
    grid-template-columns: 2.5fr 5.5fr;
  }  
}

@media only screen and (min-width: 768px) {
  .education-grid{
    display: grid;
    grid-template-columns: 13.5em 1fr;
  }  
}

@media only screen and (min-width: 768px) {
  .education-grid-alt{
    display: grid;
    grid-template-columns: 3fr 1fr;
  }  
}

@media only screen and (min-width: 768px) {
  .skills-grid{
    display: grid;
    grid-template-columns: 13.5em 1fr 1fr;
  }  
}

@font-face {
  font-family: 'MessinaSans';
  font-weight: 400;
  src: url('./fonts/MessinaSans/MessinaSans-Regular.ttf')
}

@font-face {
  font-family: 'MessinaSans';
  font-weight: 700;
  src: url('./fonts/MessinaSans/MessinaSans-SemiBold.ttf')
}

@font-face {
  font-family: 'MessinaSans';
  font-weight: 700;
  src: url('./fonts/MessinaSans/MessinaSans-Black.ttf')
}

@font-face {
  font-family: 'SFMono';
  font-weight: 400;
  src: url('./fonts/SFMono/SFMonoRegular.otf')
}

@font-face {
  font-family: 'SFMono';
  font-weight: 700;
  src: url('./fonts/SFMono/SFMonoBold.otf')
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url('./fonts/Inter/Inter-Regular.ttf')
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  src: url('./fonts/Inter/Inter-SemiBold.ttf')
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  src: url('./fonts/Inter/Inter-Bold.ttf')
}

/* width */
::-webkit-scrollbar {
  @apply w-4
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #edf2f7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9CA3AF;
  border-radius: 100vh;
  border: 3px solid #edf2f7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-600
}